@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Option</h1>
        <p class="lead text-muted">Выберите раздел</p>
        <p>
          <a class="btn btn-primary my-2"  asp-area="" asp-controller="Assembly" asp-action="Index">Сборка</a>
          <a class="btn btn-primary my-2"  asp-area="" asp-controller="Guarentee" asp-action="Index">Гарантия</a>
        </p>
      </div>
    </div>
  </section>