<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptionDataBase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css.css">
</head>
<body>
    <div class="main_container">
        <div class="header">
          <div class="header_section">

            <div class="navig">
              <div class="header_item header_logo">
              <img src="~/img/logo2.png" width="200" height="70" alt="Иллюстрация">
              </div>
              <div class="header_item header_button"><button>Вход</button></div>
              <div class="header_item header_button"><a asp-area="" asp-controller="Home" asp-action="Index"><button>Главная</button></a></div>
              <div class="header_item header_button"><a asp-area="" asp-controller="Home" asp-action="Privacy"><button>О программе</button></a></div>
            </div>

            <form asp-controller="Home" asp-action="DetailsBySerialNumber" >
              <input type="text" name="SerialNumber" placeholder="Поиск по серийному номеру">
            </form>

          </div>
        </div>
           @RenderBody()
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
