@model Assembly

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="SerialNumber">Серийный номер: </label>
        <input asp-for="SerialNumber" class="form-control" placeholder="111111"/>
        <span asp-validation-for="SerialNumber" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="TypeDevice">Тип девайса: </label>
        <input asp-for="TypeDevice" class="form-control" placeholder="Персональный компьютер"/>
        <span asp-validation-for="TypeDevice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangeComponents">Замена комплектующих: </label>
        <input asp-for="ChangeComponents" class="form-control" placeholder="Материнская плата"/>
        <span asp-validation-for="ChangeComponents" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtherWork">Другие работы: </label>
        <input asp-for="OtherWork" class="form-control" placeholder="Установка EfiShell"/>
        <span asp-validation-for="OtherWork" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Steps">Шаги сборки: </label>
        <input asp-for="Steps" class="form-control" placeholder="Проверка комплектующих"/>
        <span asp-validation-for="Steps" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="People">Люди участвовавшие в сборке: </label>
        <input asp-for="People" class="form-control" placeholder="Работник"/>
        <span asp-validation-for="People" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Создать</button>
</form>