@model IEnumerable<Assembly>
 
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="Create2" asp-controller="Assembly" method="post" enctype="multipart/form-data">
    <p>
        <label>Имя</label>
        <input name="Name" class="form-control" />
    </p>
    <p>
        <label>Аватар</label>
        <input name="Avatar" type="file" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>
