@model Sertification

<link rel="stylesheet" href="~/css/css_assembl.css">

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="content_container">
        <div class="in">
            <p>Прикрепите файл с подписями сотрудников</p>
            <input type="file" class="input_data" name="uploadedFileSertification" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Создать</button>
</form>