@using OptionWebApplication.ViewModels
@model EditSertificationViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/css_assembl.css">

<a asp-controller="Sertification" asp-action="Index" class="btn btn-sm btn-warning mb-3 text-white btn-outline-secondary">Назад</a>
<form method="post" asp-action="Edit" enctype="multipart/form-data">

    <div class="content_container">
        <div class="in">
            <p>Прикрепите файл с подписями сотрудников</p>
            <input type="file" class="input_data" name="uploadedFileSertification" />
        </div>
        <div class="in">
            <p>Выполнено: </p>
           <input asp-for="State" class="input_data" type="checkbox"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Изменить</button>
    
</form>