@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/css.css">

<div class="main_container">
    <div class="container">
        <h3>Сотрудники делают всё возможное для добовления нового фунционала)</h3>
    </div>
</div>