@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/css.css">


<div class="container_box">
    <div class="box">
        <div class="content">
            <h2>Заказы</h2>
            <h3>Актуальные заказы</h3>
            <p>Просмотр актуальных заказов и листов спецификаций к сборкам</p>
            <a asp-area="" asp-controller="Sertification" asp-action="Index"><button>Перейти</button></a>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <h2>Сборка</h2>
            <h3>Карточки сборки</h3>
            <p>Работа с сопроводительными листами сборки</p>
            <a asp-area="" asp-controller="Assembly" asp-action="Index"><button>Перейти</button></a>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <h2>Сервис</h2>
            <h3>Карточки гарантии</h3>
            <p>Работа с браком и гарантийными устройствами</p>
            <a asp-area="" asp-controller="Guarentee" asp-action="Index"><button>Перейти</button></a>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <h2>Сводка</h2>
            <h3>Сводная статистика</h3>
            <p>Сводная статистика по выполненной работе и сотрудникам</p>
            <a asp-area="" asp-controller="Statistics" asp-action="Index"><button>Перейти</button></a>
        </div>
    </div>

</div>