
body {
    margin: 0;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(220, 220, 238);
}



.container_box {
    position: relative;
    top: -25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.content {
    position: relative;
    padding: 20px;
    color: #fff;
}

    .content h2 {
        position: absolute;
        top: -60px;
        right: 20px;
        margin: 0;
        padding: 0;
        font-size: 45px;
        line-height: 1.1;
        color: rgba(255, 255, 255, 0.6);
        transition: .5s;
    }

    .content h3 {
        margin: 0 0 10px;
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 1.2;
        color: #fff;
        font-family: sans-serif;
    }

    .content p {
        margin: 0;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 1.2;
        color: #fff;
        font-family: inherit
    }

    .content button {
        cursor: pointer;
        position: relative;
        margin: 20px 0 0;
        padding: 10px 20px;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        transition: .5s;
        transform: translateY(-40px);
        opacity: 0;
        visibility: hidden;
        text-transform: uppercase;
        font-size: 12px;
        z-index: 1;
        border-radius: 5%;
    }

        .content button:hover {
            color: #000;
            background-color: #fff;
        }


.box {
    width: 260px;
    height: 330px;
    cursor: pointer;
    position: relative;
    background-color: #4074c7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10%;
    box-shadow: 0 0 5px #555;
    transition: .5s;
}

    .box:hover {
        box-shadow: 0 0 15px #555;
        scale: 1.1;
    }

        .box:hover .content h2 {
            top: -100px;
        }

        .box:hover .content button {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }


/*----------------------- HEADER ------------------------------ */

a {
    color: #fff;
    text-decoration: none;
}


.header {
    flex: 0 0 auto;
    background: #689CD2;
    color: #fff;
    width: 99.9%;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0 5px #555;
}

.navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_item {
    padding: 15px 15px;
    font-size: 20px;
}

.header_logo {
    font-size: 30px;
    color: #000;
    font-style: bold;
    margin-right: 100px;
    margin-left: 50px;
}

.header_button button {
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s;
    font-size: 12px;
    border-radius: 5%;
}

    .header_button button:hover {
        color: #000;
        background-color: #fff;
    }

/*----------------------- Поле поиска ------------------------------ */

form {
    width: auto;
    float: right;
    margin-right: 30px;
}

input {
    width: 250px;
    height: 35px;
    padding-left: 15px;
    border-radius: 50px;
    border: 1.5px solid #000000;
    background: #F9F0DA;
    outline: none;
    position: relative;
    transition: .3s linear;
}

    input:focus {
        width: 320px;
        border: 2px solid #eebd1c;
    }
