@using OptionWebApplication.Data.Enum
@using OptionWebApplication.ViewModels
@model EditGuarenteeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-controller="Guarentee" asp-action="Index" class="btn btn-sm btn-warning mb-3 text-white btn-outline-secondary">Назад</a>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="SerialNumber">Серийный номер: </label>
        <input asp-for="SerialNumber" class="form-control" type="text" maxlength="6" placeholder="111111"/>
        <span asp-validation-for="SerialNumber" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="SerialNumberParty">Серийный номер: </label>
        <input asp-for="SerialNumberParty" class="form-control" type="text" maxlength="6" placeholder="111111"/>
        <span asp-validation-for="SerialNumber" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="Company">Заказчик: </label>
        <input asp-for="Company" class="form-control" placeholder="Персональный компьютер"/>
        <span asp-validation-for="Company" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TypeDevice">Тип девайса: </label>
         <select asp-for="TypeDevice" asp-items="@Html.GetEnumSelectList<TypeDevice>()" class="form-control">
            <option></option>
        </select>
        <span asp-validation-for="TypeDevice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateIn">Дата прихода: </label>
        <input asp-for="DateIn" type="date" class="form-control" placeholder="22.05.2022"/>
        <span asp-validation-for="DateIn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOut">Дата отправки: </label>
        <input asp-for="DateOut" type="date" class="form-control" placeholder="22.05.2023"/>
        <span asp-validation-for="DateOut" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Details">Рекламация: </label>
        <input asp-for="Details" class="form-control" placeholder="не включаеться"/>
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FaultDetection">Выявленые не исправности: </label>
        <input asp-for="FaultDetection" class="form-control" placeholder="Не работает оперативная память"/>
        <span asp-validation-for="FaultDetection" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Conclusion">Заключение: </label>
        <input asp-for="Conclusion" class="form-control" placeholder="Замена оперативной паямти"/>
        <span asp-validation-for="Conclusion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiagnosticPeople">Диагностику провел: </label>
        <select asp-for="DiagnosticPeople" asp-items="@Html.GetEnumSelectList<People>()" class="form-control">
            <option></option>
        </select>
        <span asp-validation-for="DiagnosticPeople" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ComplectedWork">Выполненая работа: </label>
        <input asp-for="ComplectedWork" class="form-control" placeholder="Замена оперативной памяти, чистка корпуса от пыли"/>
        <span asp-validation-for="ComplectedWork" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RepairPeople">Ремонт провел: </label>
        <select asp-for="RepairPeople" asp-items="@Html.GetEnumSelectList<People>()" class="form-control">
            <option></option>
        </select>
        <span asp-validation-for="RepairPeople" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Изменить</button>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>