@using OptionWebApplication.Data.Enum
@using OptionWebApplication.ViewModels
@model EditGuarenteeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/css_assembl.css">

<a asp-controller="Guarentee" asp-action="Index" class="btn btn-sm btn-warning mb-3 text-white btn-outline-secondary">Назад</a>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
     <div class="content_container">
        <div class="in">
            <p>Серийный номер::</p>
            <input asp-for="SerialNumber" type="text" class="input_data" placeholder="Серийный номер...">
        </div>
        
        <div class="in">
            <p>Заказчик:</p>
            <input asp-for="Company" type="text" class="input_data" placeholder="Наименование организации">
        </div>
        
        <div class="in">
            <p>Тип устройства:</p>
            <select asp-for="TypeDevice" asp-items="@Html.GetEnumSelectList<TypeDevice>()" class="input_data">
                <option></option>
            </select>
        </div>
        
        <div class="in">
            <p>Дата прихода: </p>
            <input asp-for="DateIn" type="date" class="input_data" placeholder="xx.xx.xxxx">
        </div>
        
        <div class="in">
            <p>Дата отправки:</p>
            <input asp-for="DateOut" type="date" class="input_data" placeholder="xx.xx.xxxx">
        </div>
        
        <div class="in">
            <p>Рекламация:</p>
            <input asp-for="Details" type="text" class="input_data" placeholder="Наименование проблемы девайса">
        </div>
        
        <div class="in">
            <p>Выявленые не исправности:</p>
            <input asp-for="FaultDetection" type="text" class="input_data" placeholder="Причина не работоспособности">
        </div>
        
        <div class="in">
            <p>Заключение: </p>
            <input asp-for="Conclusion" type="text" class="input_data" placeholder="Описание проблемы и способ её устранения">
        </div>

        <div class="in">
            <p>Диагностику провел:</p>
            <select asp-for="DiagnosticPeople" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
        </div>
        
        <div class="in">
            <p>Выполненая работа: </p>
            <input asp-for="ComplectedWork" type="text" class="input_data" placeholder="Что удалось устранить и что было выполнено">
        </div>
    
        <div class="in">
            <p>Ремонт провел:</p>
            <select asp-for="RepairPeople" asp-items="@Html.GetEnumSelectList<People>()" class="input_data">
                <option></option>
            </select>
        </div>

        <div class="in">
            <p>Прикрепите файл с подписями сотрудников</p>
            <input type="file" name="uploadedFile" class="input_data" >
        </div>

        <div class="in">
            <p>Прикрепите файл сертификации</p>
            <input type="file" name="setificateFile"  class="input_data" >
        </div>
    
        <button type="submit" class="btn btn-primary mt-2">Изменить</button>
        
        </div>
</form>