 @model IEnumerable<Guarentee>

<link rel="stylesheet" href="css/css_wrap.css">

<div class="content_container">
    
    @foreach(var item in Model)
    {
        <div class="box">
            <div class="content">
                <h2>@item.SerialNumber</h2>
                <h3>Тип устройства: @item.TypeDevice</h3>
                <p>Заказчик: @item.Company</p>
                <a asp-area="" asp-controller="Guarentee" asp-action="Detail" asp-route-id="@item.Id"><button>Детали</button></a>
            </div>
        </div>
    }
    <div class="box">
      <div class="content">
        <h2>Создать Гарантию</h2>
        <h3></h3>
        <p></p>
        <a asp-controller="Guarentee" asp-action="Create"><button>Создать Сборку</button></a>
      </div>
    </div>
</div>